# build artifacts
*.pyc
*.egg-info
build
target
pip-log.txt
MANIFEST
dist
.idea/
# supporting stuff pulled in by paver script
geonode/development.db
/geoserver/
downloaded

docs/i18n/pot/

# Static media handling
*.jshintrc
geonode/static/.components/
geonode/static/geoexplorer/
geonode/static_root/
geonode/static/node_modules/
node_modules/

# Listing all of them instead of putting geonode/static/lib out of version control.
geonode/local_settings.py

# Uploaded files
geonode/uploaded

#Testing output
.coverage
.noseids
geonode_test_data/
nosetests.xml
geonode/static/geonode/junit.xml

#Temporary files
*~
*.swp

# OSX specific
.Python
.DS_Store

# Docs
docs/_build

# ec2.py
scripts/cloud/.gnec2.cfg
jquery.raty.js
angular.js
# angular-leaflet-directive.min.js
# bootstrap.min.js
# jquery.min.js
# bootstrap.min.css
uploaded
development.db
master
slave
