{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Acknowledgements" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Acknowledgements" %}</h3>
</div>


<div class="text-center">

      <b><p class="generic">  Since the very beginning of the project, the team is working closely with a group of experts.</p></b>
      <b><p class="generic">Special thanks go to: </p></b>

      <p class="generic">
</div>

<ul class="list-unstyled">
  <li><p class="generic"> Christina Dornack, Institute of Waste Management and Circular Economy, TU Dresden </p></li>
  <li><p class="generic"> Peter Krebs, Institute of Urban and Industrial Water Management, TU Dresden </p></li>
  <li><p class="generic"> Thomas Petzoldt, Institute of Hydrobiology, TU Dresden </p></li>
  <li><p class="generic"> Rudolf Liedl, Institute of Groundwater Management, TU Dresden </p></li>
  <li><p class="generic"> Günter Langergraber, University of Natural Resources and Life Sciences, Vienna </p></li>
  <li><p class="generic"> Fabio Masi, IRIDRA S.r.l. </p></li>
  <li><p class="generic"> Andrei Jouravlev, ECLAC </p></li>
  <li><p class="generic"> Virginie Gillet, FAO </p></li>
  <li><p class="generic"> Roshan Shrestha, Bill and Melinda Gates Foundation (BMGF) </p></li>
  <li><p class="generic"> Ania Grobicki, former Secretary General of The Ramsar Convention Secretariat </p></li>
  <li><p class="generic"> Kate Medlicott, WHO </p></li>
  <li><p class="generic"> Uwe Kappelmeyer, Helmholtz-Zentrum für Umweltforschung (UFZ) </p></li>
  <li><p class="generic"> Christine Galander, German Environment Agency (UBA) </p></li>
  <li><p class="generic"> Christian Wilhelm, German Association for Water, Wastewater and Waste (DWA) </p></li>
  <li><p class="generic"> Godecke-Tobias Blecken, Luleå Techniska Universitet (LTU) </p></li>
  <li><p class="generic"> Furthermore, we would like to thank all participants of the global user requirements survey in 2017. </p></li>

</ul>


{% endblock %}
