<li id="nav_layers" class="">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="/maps/">Maps</a></li>
                <li><a href="/layers/">Layers</a></li>
                <li><a href="/documents/">Documentation</a></li>
                <li><a href="/documents/">Statistical information</a></li>
                <li><a href="/documents/">Fact sheets</a></li>
                <li><a href="/documents/">Guidelines</a></li>
                <li><a href="/documents/">Roster of experts</a></li>
                <li><a href="/documents/">Learning material</a></li>
                <li><a href="/documents/">Further information</a></li>

              </ul>
            </li>
