{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "CW guidelines" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Provide guidelines about constructed wetlands" %}</h3>
</div>




<div class="text-center">
<h2>This page provides you with selected, mostly English language, guidelines that the CWetlands team has found. If you wish to contribute an additional or an update guideline please sign up to the platform to provide this information.</h2>

</div>
<p class="generic">In order to engage with the platform and explore the entire catalogue of maps in more detail, please sign up to the CWetlands platform or contact us. Please, do not forget to complete the contact information in your account profile.</p>
<p class="generic">For further enquiries, please contact: <a href="mailto:cwetlands@unu.edu"> <b>cwetlands@unu.edu</b> </a> </p>

{% endblock %}
