{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "CW experts" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Roster of experts" %}</h3>
  <h2>You wish to be listed as an expert on this page? Please please sign up to the platform and provide us with the relevant information.</h2>
</div>

<div class="text-center">


      <p class="generic">Dear user,</p>

      <p class="generic">The CWetlands team is working on this page. In future, we would like to display personal information about
      experts in the field of constructed wetlands here.</p>

      <p class="generic">The following websites have been listing people and organisations you can contact:</p>






      <p class="generic"><a href="
        https://www.constructedwetland.co.uk/find-a-member

      ">
         Constructed Wetland Association

      <br></a></p>

      <p class="generic"><a href="
        http://www.globalwettech.com/en/

      ">
         Global Wetlands Technology

      <br></a></p>

      <p class="generic"><a href="
        http://ioev.dev-test2.de/

      ">
         Ingenieurökologische Vereinigung

      <br></a></p>

      <p class="generic"><a href="
        https://www.environmental-expert.com/companies/keyword-constructed-wetlands-3343

      ">
         Environmental XPRT

      <br></a></p>




</div>

{% endblock %}
