{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "CW Maps" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-pdf-viewer.css">


{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Constructed wetlands maps" %}</h3>
  <b><p class="lead">{% trans "Test version under development – data visualization of non-quality controlled data " %}</p></b>
</div>




<div class="text-center">
    <!--<img src = "{{ STATIC_URL}}geonode/img/favicon.ico">
      <b><p class="lead">Advancing a Nexus Approach to the sustainable management of environmental resources</p></b>-->

      <h4> Basic information of the constructed wetland system </h4>
       A map that shows the general information and scientific reference for each constructed wetlands as well as essential local data.
      <iframe width="100%" height="520" frameborder="0" src="https:////cwkp.maps.arcgis.com/apps/Embed/index.html?webmap=e3f2fd0fc3b64fc89d7580ebdebe8f12&extent=-124.2773,-55.1028,180,78.0167&home=true&zoom=true&scale=true&legendlayers=true&disable_scroll=true&theme=light" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                        <!--src="https://admincwetlands.carto.com/builder/2bf20c3a-6987-489d-84b6-922d5210f4ef/embed"-->
      <!--<iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/8f3c73a0-faf2-4f35-9b5c-c906b97898d8/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>-->

      <!--<button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">    Full database information   &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-1" class="collapse">
          <p class="generic">

            <div class="embed-container">
             <p class="lead"><iframe class="embed-responsive-item" style="border: none;" height="400" width="600" src="http://cwetlands.net/maps/4/embed" frameborder="0" allowfullscreen></iframe></p>
           </div>

             <p class="generic"><a href="
                http://cwetlands.net/maps/4/view
                ">
                • Click here to explore the attribute table and the query tool.
            <br></a></p>


            <div class="container">

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>

          <td>#</td>
          <td><b> Name of the layer of information</b></td>
          <td><b> Code of the attribute = Attribute currently displayed</b></td>
          <td><b> Value displayed in the Map (unit)</b></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Information about the constructed wetlands system</td>
          <td>plant_spec = Plant species</td>
          <td> Papyrus (name)</td>

          <tr>
          <td>2</td>
          <td>Overall inflow per site </td>
          <td>inflow_sum = Inflow sum</td>
          <td> 15193.6 (lt/s) </td>
          </tr>

          <tr>
          <td>3</td>
          <td>Overall inflow information per constructed wetland system</td>
          <td>inflow_sum = Inflow sum</td>
          <td> 930 (lt/s)</td>
          </tr>

          <tr>
          <td>4</td>
          <td>Performance  per site</td>
          <td>s_bod_effe = Removal efficiency of 5-day BOD on system-level</td>
          <td> 89.379148 (%)</td>
          </tr>

          <tr>
          <td>5</td>
          <td>Site information </td>
          <td>ww_type_ = Wastewater type</td>
          <td> Municipal (name) </td>
          </tr>

          <tr>
          <td>6</td>
          <td> Operational Information   </td>
          <td> ctry_code = Country code </td>
          <td> USA (name) </td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div> -->

      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">    Suspended Solids   &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-2" class="collapse">
          <p class="generic">
            <h4> Map of suspended solids treated by wetland system </h4>
            The legend shows the sum of the average system concentration inflow and outflow of the total suspended solids, in mg/l.
            <div class="embed-container">
                <iframe width="100%" height="520" frameborder="0" src="https://cwkp.maps.arcgis.com/apps/Embed/index.html?webmap=a456d760dc00432494b9b547b842e5c3&extent=-118.2985,-72.2647,180,66.1218&home=true&zoom=true&scale=true&legendlayers=true&disable_scroll=true&theme=light" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                                  <!--src="https://admincwetlands.carto.com/builder/d12fc02d-8bbd-47f4-b58c-e56abb50f03c/embed"-->
             <!--<p class="lead"><iframe class="embed-responsive-item" style="border: none;" height="400" width="600" src="http://cwetlands.net/maps/14/embed" frameborder="0" allowfullscreen></iframe></p>-->
           </div>

             <!--<p class="generic"><a href="
                http://cwetlands.net/maps/14/view
                ">
                • Click here to explore the attribute table and the query tool.
            <br></a></p>


            <div class="container">

      <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>

          <td>#</td>
          <td><b> Name of the layer of information</b></td>
          <td><b> Code of the attribute = Attribute currently displayed</b></td>
          <td><b> Value displayed in the Map (unit)</b></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Inflow concentration of the total suspended solids</td>
          <td> S_TSS_IN</td>
          <td> 160.0 (mg/L)</td>

          <tr>
          <td>2</td>
          <td>Outflow concentration of the total suspended solids</td>
          <td>S_TSS_OUT</td>
          <td> 16.0 (mg/L) </td>
          </tr>

        </tr>
      </tbody>
      </table>
      </div>
    </div>-->


      </div>


      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">    Organic matter, BOD and COD   &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-3" class="collapse">
          <p class="generic">
            <h4> Map of Organic matter, BOD and COD treated by wetland system </h4>
            The legend shows the sum of the average system concentration inflow and outflow of the BOD and COD, in mg/l.
            <div class="embed-container">
              <iframe width="100%" height="520" frameborder="0" src="https:////cwkp.maps.arcgis.com/apps/Embed/index.html?webmap=d2839dba0d7b4757ac235ddf913073fd&extent=-159.4313,-52.434,180,78.9193&home=true&zoom=true&scale=true&legendlayers=true&disable_scroll=true&theme=light" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                                <!--src="https://admincwetlands.carto.com/builder/aee4738a-325e-4d81-9d99-1cb5a49746b5/embed" -->

             <!--<p class="lead"><iframe class="embed-responsive-item" style="border: none;" height="400" width="600" src="http://cwetlands.net/maps/16/embed" frameborder="0" allowfullscreen></iframe></p>-->
           </div>

          <!--   <p class="generic"><a href="
                http://cwetlands.net/maps/16/view
                ">
                • Click here to explore the attribute table and the query tool.
            <br></a></p>


            <div class="container">

      <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>

          <td>#</td>
          <td><b> Name of the layer of information</b></td>
          <td><b> Code of the attribute = Attribute currently displayed</b></td>
          <td><b> Value displayed in the Map (unit)</b></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Removal efficiency of 5-day biochemical oxygen demand on system-level</td>
          <td> S_BOD_EFF</td>
          <td> 95 (%)</td>

          <tr>
          <td>2</td>
          <td>Removal efficiency of chemical oxygen demand on system-level</td>
          <td>S_COD_EFF</td>
          <td> 83.6 (%) </td>
          </tr>

          <td>3</td>
          <td>System outflow concentration of the chemical oxygen demand</td>
          <td> S_COD_OUT</td>
          <td> 36.0 (mg/L)</td>

          <tr>
          <td>4</td>
          <td>System inflow concentration of the chemical oxygen demand</td>
          <td>S_COD_IN</td>
          <td> 284.0 (mg/L) </td>
          </tr>

          <td>5</td>
          <td>System outflow concentration of the 5-day biochemical oxygen demand</td>
          <td> S_BOD_OUT</td>
          <td> 27.49 (mg/L)</td>

          <tr>
          <td>6</td>
          <td>System inflow concentration of the 5-day biochemical oxygen demand</td>
          <td>S_BOD_IN</td>
          <td> 78.8 (mg/L) </td>
          </tr>

        </tr>
      </tbody>
      </table>
      </div>
    </div> -->


      </div>


      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-4" data-parent="#myAccordion">    N, P, NO3N, NH4N      &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-4" class="collapse">
          <p class="generic">
            <h4> Map of N, P, NO3N, NH4N treated by wetland system </h4>
            The legend shows the sum of the average system concentration inflow and outflow of the N, P, NO3N, NH4N, in mg/l.
            <div class="embed-container">
              <iframe width="100%" height="520" frameborder="0" src="https:////cwkp.maps.arcgis.com/apps/Embed/index.html?webmap=59941cf9018f46f0b4310d873d93e04b&extent=-126.3844,-56.7088,180,77.407&home=true&zoom=true&previewImage=false&scale=true&legend=true&disable_scroll=true&theme=light" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                <!-- src="https://admincwetlands.carto.com/builder/e44afda5-c1be-4b84-9c10-724904acdc8b/embed" -->
            <!--<p class="lead"><iframe class="embed-responsive-item" style="border: none;" height="400" width="600" src="http://cwetlands.net/maps/18/embed" frameborder="0" allowfullscreen></iframe></p>-->
           </div>

             <!--<p class="generic"><a href="
                http://cwetlands.net/maps/18/view
                ">
                • Click here to explore the attribute table and the query tool.
            <br></a></p>


            <div class="container">

      <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>

          <td>#</td>
          <td><b> Name of the layer of information</b></td>
          <td><b> Code of the attribute = Attribute currently displayed</b></td>
          <td><b> Value displayed in the Map (unit)</b></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td> --- </td>
          <td> --- </td>
          <td> --- (mg/L)</td>

          <tr>
          <td>2</td>
          <td> --- </td>
          <td> --- </td>
          <td> --- (mg/L) </td>
          </tr>

        </tr>
      </tbody>
      </table>
      </div>
    </div>-->


      </div>



      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-5" data-parent="#myAccordion">       E-coli and fecal coliforms     &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-5" class="collapse">
          <p class="generic">
            <h4> Map of E-coli and fecal coliforms treated by wetland system </h4>
            The legend shows the efficiency of  E-coli and fecal coliforms removal in %.
            <div class="embed-container">
              <iframe width="100%" height="520" frameborder="0" src="//cwkp.maps.arcgis.com/apps/Embed/index.html?webmap=325440ad57254ae6a85a1b1ad6fd571d&extent=-126.3844,2.8914,180,77.407&home=true&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=light" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                <!-- src="https://admincwetlands.carto.com/builder/ed700df3-41a3-4fb7-bbd4-8d80ab32ad53/embed" -->
             <!--<p class="lead"><iframe class="embed-responsive-item" style="border: none;" height="400" width="600" src="http://cwetlands.net/maps/20/embed" frameborder="0" allowfullscreen></iframe></p>-->
           </div>

          <!--   <p class="generic"><a href="
                http://cwetlands.net/maps/20/view
                ">
                • Click here to explore the attribute table and the query tool.
            <br></a></p>


            <div class="container">

      <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>

          <td>#</td>
          <td><b> Name of the layer of information</b></td>
          <td><b> Code of the attribute = Attribute currently displayed</b></td>
          <td><b> Value displayed in the Map (unit)</b></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>---</td>
          <td> ---</td>
          <td> --- (mg/L)</td>

          <tr>
          <td>2</td>
          <td>---</td>
          <td>---</td>
          <td>--- (mg/L) </td>
          </tr>

        </tr>
      </tbody>
      </table>
      </div>
    </div>-->


      </div>

      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-6" data-parent="#myAccordion">See the structure of the database behind CWetlands<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-6" class="collapse">
          <p class="generic">

            <div class="embed-container">
              <object data="{{ STATIC_URL}}geonode/img/cwetlands_db_descriptions.pdf" type="application/pdf" width="100%" height="800px">
              <p>It appears you don't have a PDF plugin for this browser.
               No problem!... you can <a href="{{ STATIC_URL}}geonode/img/cwetlands_db_descriptions.pdf">click here to
              download the PDF file.</a></p>
             </object>
             </div>
           </div>

      <!--<h2><p class="generic"><a href="
        http://cwetlands.net/maps/

      ">
         Click here to explore the entire catalog of maps and more details.

      <br></a></p></h2>

      <h2><p class="generic"><a href="
        http://cwetlands.net/layers/

      ">
         Click here to explore the entire catalog of layers that compounds the geodatabase.

      <br></a></p></h2>-->

      <p class="generic">In order to engage with the platform and explore the entire catalogue of maps in more detail, please sign up to the CWetlands platform or contact us. Please, do not forget to complete the contact information in your account profile.</p>
      <p class="generic">For further enquiries, please contact: <a href="mailto:cwetlands@unu.edu"> <b>cwetlands@unu.edu</b> </a> </p>


</div>

{% endblock %}
