{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "UNU-FLORES WRMU: Constructed Wetlands Knowledge Platform" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="jumbotron">
    <div class="container">
      <!-- <h1>{% trans "Constructed Wetlands Knowledge Platform" %}</h1>
      <h2>{% trans "UNU-FLORES: Water Resources Management Unit" %}</h2>-->



      <img src = "{{ STATIC_URL}}geonode/img/bodyimage.png">
      <!--<h3>{% blocktrans %} Call for participation: <a href="https://flores.unu.edu/en/research/units/water-resources-management#team">Fill out the Feedback Questionnaire.</a>{% endblocktrans %}</h3> -->
<!--                <h2>{% trans "&nbsp; " %}</h2> -->
      <h5>{% blocktrans %} The one-stop solution providing data and information about Constructed Wetlands to support research, policy-making, implementiation,and financing of Nature-based Solutions for sustainable development. <a href="https://flores.unu.edu/en/research/projects/the-multifunctionality-of-constructed-wetlands.html#outline"> <em>More info. </em></a>{% endblocktrans %}</h5>
<!--                <h2>{% trans "&nbsp; " %}</h2> -->
        <p>{% blocktrans %}Amount of Constructed Wetlands currently stored in the Database:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em> #### </em>{% endblocktrans %}</p>
        <p>{% blocktrans %}Volume of wastwater treated by Constructed Wetlands currently stored: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>--.--</em>{% endblocktrans %}</p>
<!--                <h2>{% trans "&nbsp; " %}</h2> -->

      <h3>
        <div class="btn-group">
        <a id=bindex class="btn btn-default btn-lg" target="_blank"  role="button">{% blocktrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; «&nbsp;Provide: Data &raquo; &nbsp;&nbsp;&nbsp; {% endblocktrans %}</a>
        <a id=bindex class="btn btn-default btn-lg" target="_blank" href="https://www.questionpro.com/es/" role="button">{% blocktrans %}«&nbsp;Provide: Feedback &raquo; {% endblocktrans %}</a>
      </div>
      </h3>

      <!--<h3><a class="btn btn-default btn-lg" target="_blank" href="https://flores.unu.edu/en/news/news/constructed-wetlands-to-turn-wastewater-into-energy.html" role="button">{% blocktrans %}Provide: Data &raquo;{% endblocktrans %}</a></h3>-->
		<!-- <p>{% blocktrans %}An open source platform for sharing geospatial data and maps about constructed wetlands.{% endblocktrans %}</p>
		<p>{% blocktrans %}If you have any questions contact <a href="https://flores.unu.edu/en/research/units/water-resources-management#team">UNU-FLORES WRM Unit</a>.{% endblocktrans %}</p> -->




    </div>
  </div>
  {% include "_status_message.html" %}
  {% include "_announcements.html" %}
  {% include "_messages.html" %}
  {% endblock %}

  {% block mainbody %}
  <div class="container">
    <h3> Get Information </h3>
    <h4>(Under Development)</h4>

    <div class="col-xs-4 col-sm-2">
      					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=boundaries&amp;category__identifier__in=planningCadastre" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Political and administrative boundaries. Land use maps, zoning maps, cadastral surveys, land ownership.">
      						<div class="category">
      						<h4><i class="fa fa-graduation-cap fa-3x"></i> </h4>
      							<h4>Academia</h4>
      						</div>
      					</a>
      				</div>

              <div class="col-xs-4 col-sm-2">
                					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=structure&amp;category__identifier__in=intelligenceMilitary&amp;category__identifier__in=utilitiesCommunication" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Buildings, museums, churches, factories, housing, monuments, shops, towers. Energy, water and waste systems and communications infrastructure and services. Military bases, structures, activities.">
                						<div class="category">
                              <h4><i class="fa fa-suitcase fa-3x" aria-hidden="true"></i></h4>
                							<h4>Private Sector</h4>
                						</div>
                					</a>
                				</div>

                        <div class="col-xs-4 col-sm-2">
                          					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=climatologyMeteorologyAtmosphere" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Cloud cover, weather, climate, atmospheric conditions, climate change, precipitation">
                          						<div class="category">
                          						  <h4><i class="fa fa-building-o fa-3x"></i></h4>
                          							<h4>Inter-governmental Organizations</h4>
                          						</div>
                          					</a>
                          				</div>

                                  <div class="col-xs-4 col-sm-2">
                                    					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=elevation" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Altitude, bathymetry, digital elevation models, slope, derived products">
                                    						<div class="category">
                                    							<h4><i class="fa fa-globe fa-3x"></i></h4>
                                    							<h4>Government development agencies</h4>
                                    						</div>
                                    					</a>
                                    				</div>

      <div class="col-xs-4 col-sm-2">
  					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=geoscientificInformation" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Geophysical features and processes, geology, minerals, sciences dealing with the composition, structure and origin of the earth s rocks, risks of earthquakes, volcanic activity, landslides, gravity information, soils, permafrost, hydrogeology, erosion.">
  						<div class="category">
  							<h4><i class="fa fa-university fa-3x"></i></h4>
  							<h4>Ministries and authorities</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
      					<a href="/search/?limit=100&amp;offset=0&amp;category__identifier__in=geoscientificInformation" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Geophysical features and processes, geology, minerals, sciences dealing with the composition, structure and origin of the earth s rocks, risks of earthquakes, volcanic activity, landslides, gravity information, soils, permafrost, hydrogeology, erosion.">
      						<div class="category">
      							<h4><i class="fa fa-handshake-o fa-3x"></i></h4>
      							<h4>Civil Society</h4>
      						</div>
      					</a>
      				</div>

    <!-- <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
        <p>{% trans "The CWKP allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
      </div>
    {% endwith %}
  </div> -->
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
  FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
  'use strict';
  (function(){
    var module = angular.module('featured', []);
    module.run(function($http, $rootScope){
      $http.get(FEATURED_URL).success(function(data){
        $rootScope.featured = data.objects;
      });
    });
  })();
</script>

{% endblock extra_script %}
