{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Learning" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Traning material" %}</h3>
</div>


<h3> <b><p class="generic">Tools and Information</p></b> </h3>

<div class="text-center">


      <p class="generic"> The Constructed Wetlands Knowledge Platform does not only provide related geographic information
and data. We would like to supply students, engineers, planners, decision-makers, as well as members of
civil society and its organisations with a list of material for individual learning and possibly teaching.
Please, find a list of sources ranked from basic to more comprehensive content here:</p>

<b><p class="generic">1. Online Article by Joe Gelt (1997) from the Water Resources Resource Center of the University of Arizona:</p></b>

<p class="generic"><a href="https://wrrc.arizona.edu/publications/arroyo-newsletter/constructed-wetlands-using-human-ingenuity-natural-processes-treat-wa">
  • Constructed Wetlands: Using Human Ingenuity, Natural Processes to Treat Water, Build Habitat.<br></a></p>




<b><p class="generic">2. Compendium of Sanitation Systems and Technologies, 2nd Edition by EAWAG</p></b>
<p class="generic">Includes basic information about Free-Water Surface (FWS), Horizontal Subsurface Flow (HSSF) and Vertical Flow Constructed Wetlands (VFCW):</p>

<p class="generic"><a href="https://www.eawag.ch/en/department/sandec/publications/compendium/">
  • Available as PDF in English, French, Spanish, Arabic, and Russian.<br></a></p>

<p class="generic"><a href="http://ecompendium.sswm.info/">
  • Online Compendium available.</a><br></p>




<b><p class="generic">3. Constructed Wetlands Manual by UN-HABITAT</p></b>

<p class="generic"><a href="https://unhabitat.org/books/constructed-wetlands-manual/">
  • Content: design, construction, operation and maintenance of Constructed Wetlands for the
  treatment of domestic wastewater and introduction on the design of sludge treatment
  wetlands. Available here.</a><br></p>


<b><p class="generic">4. ‘Treatment Wetlands’ book by IWA Task Group on Mainstreaming the Use of Treatment Wetlands</p></b>

<p class="generic"><a href="http://wio.iwaponline.com/content/16/9781780408774">
  • Open access.</a><br></p>


<b><p class="generic">5. Online Course on ‘Constructed Wetlands for Wastewater Treatment’ by <a href="https://www.un-ihe.org/online-course-constructed-wetlands-wastewater-treatment">
  IHE Delft.</a> </p></b>

<p class="generic">• Usually starting once a year.</p>
<p class="generic"> <a href="https://ocw.un-ihe.org/course/view.php?id=43/course/view.php">
  • Course content also available as open courseware.</a><br></p>

<p class="generic"><a href="https://www.un-ihe.org/open-courseware"> • The open courseware includes courses on related topics as well, e.g. ecological sanitation,
urban drainage and sewerage etc.</a><br></p>



<b><p class="generic">6. Constructed Wetlands in the context of Nature-based Solutions (NBS):</p></b>

  <p class="generic"><a href="http://www.unesco.org/new/en/natural-sciences/environment/water/wwap/wwdr/2018-nature-based-solutions/">
    • World Water Development Report (WWDR) 2018.</a><br></p>

<p class="generic">...and if someone intends to teach primary school students:</p>

<p class="generic"><a href="https://www.zhaw.ch/storage/lsfm/dienstleistung/schulen/play-with-water/teaching-manual-constructed-wetland.pdf">
  • Teaching manual by BDZ and UFZ.</a><br></p>


<p class="generic">Please, report non-functioning URLs. </p></b>

</div>

{% endblock %}
