{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Under Development" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Statistical information" %}</h3>
</div>
<b><p class="lead">{% trans "Data analysis of the collected information" %}</p></b>



<div class="text-center">
    <!--<img src = "{{ STATIC_URL}}geonode/img/favicon.ico">
      <b><p class="lead">Advancing a Nexus Approach to the sustainable management of environmental resources</p></b>-->

      <h3> Constructed wetlands statistical maps </h3>
      <b>Alpha version under development</b>

      <h6> This first map aims to answer how much wastewater is treated by constructed wetlands in the current database record. </h6>
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/fbe8c4a3-6af3-49bb-8006-0fea392d2936/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      <h6> The following map aims to answer the types of wastewater in the current database record. </h6>
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/8f3c73a0-faf2-4f35-9b5c-c906b97898d8/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      <h6> The following map aims to answer the performance of the constructed wetlands. </h6>
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/8cf3c699-f4db-4f2d-8e78-e5bd195e18a1/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

</div>

{% endblock %}
