{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Feature Information" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Constructed wetlands features" %}</h3>
  <b><p class="lead">{% trans "Data analysis of the collected information" %}</p></b>
  <div class="text-center">Test version under development – data visualization of non-quality-controlled data</div>
</div>




<div class="text-center">
    <!--<img src = "{{ STATIC_URL}}geonode/img/favicon.ico">
      <b><p class="lead">Advancing a Nexus Approach to the sustainable management of environmental resources</p></b>-->


      <h4> Amount of wastewater treated by constructed wetlands in the current database record.</h4>
      The map displays the sum of the average inflow rate of the constructed wetland systems, in liters per day. <br>
      Values are dynamically displayed with the zoom and by selection of country.
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/fbe8c4a3-6af3-49bb-8006-0fea392d2936/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      <h4> Types of wastewater treated by constructed wetlands system in the current database record. </h4>
      Values are dynamically displayed with the zoom and count the number of elements in each category of wastewater.
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/d558d214-2d07-4a52-90fc-b4474d3d40ed/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      <h4>Performance of the constructed wetlands taken into consideration their removal efficiency of pollutants. </h4>
            A map that aims to display the performance of constructed wetlands of key categories of parameters represented in three different colors.
      <iframe width="100%" height="520" frameborder="0" src="https://admincwetlands.carto.com/builder/1e894b8e-02ca-48fc-b1d0-dc96fc55aa49/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapsible-6" data-parent="#myAccordion">       Explore the entire structure of the database behind CWetlands     &nbsp;&nbsp;<i class="fa fa-caret-down fa-lg"></i></button><br>
      <div id="collapsible-6" class="collapse">
          <p class="generic">

            <div class="embed-container">
              <object data="{{ STATIC_URL}}geonode/img/cwetlands_db_descriptions.pdf" type="application/pdf" width="100%" height="800px">
              <p>It appears you don't have a PDF plugin for this browser.
               No biggie... you can <a href="resume.pdf">click here to
              download the PDF file.</a></p>
             </object>
             </div>
           </div>

</div>

{% endblock %}
