{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Terms of use" %} — {{ block.super }} {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block body_outer %}
<div class="page-header">
  <h3>{% trans "Terms of use" %}</h3>
</div>




<div class="text-center">

      <p class="generic">The United Nations University welcomes and values your contributions to this website. If you would like to send feedback directly, please use
      the contact form.

      To make sure that the information posted on CWetlands is useful and constructive, we ask everyone who contributes to review and agree to
      the basic rules set out in this policy.

      We encourage you to communicate freely and openly about the themes covered by CWetlands. We ask individuals to share their opinions on
      these matters through the contact form, the anonymous user feedback survey and the forum.

      We hope that the CWetlands website will become a place where interaction takes place in a genuine and respectful manner, but we do not
      intend that the result be a uniformity of opinion.

      The views that are expressed by individual contributors do not represent an official view of the United Nations University .</p>

      <b><p class="generic">Rules when posting comments to the CWetlands website</p></b>

      <p class="generic">You agree to provide only material that is relevant to the topic being discussed or the information being sought.
      You agree not to provide any material that you do not have the right to post, for example, under intellectual property, confidentiality, privacy
      or other applicable laws.</p>

      <p class="generic">You agree that your posted contributions will be licensed under the Creative Commons license applicable to sections where you post your
      material.</p>

      <p class="generic">You may not post any unsolicited or unauthorized materials, including advertising or promotional materials, junk mail, spam, chain letters,
      pyramid schemes, or any other form of unsolicited or unwelcome solicitation or advertising.</p>

      <p class="generic">You may not post any material that contains software viruses or any other computer code, files or programs designed to interr upt, destroy or
      limit the functionality of any computer software or hardware or telecommunications equipment or otherwise interfere with or d isrupt the
      CWetlands website or servers or networks connected to the CWetlands website, or that disobeys any requirements, procedures, policies or
      regulations of networks connected to the CWetlands website.</p>

      <p class="generic">The UNU reserves the right to delete any content that, and to block any contributor who, in our judgment, violates the law, i s in breach of these
      rules, or otherwise fails to respect other readers of the CWetlands website. UNU also reserves the right take any other action as may be
      appropriate in the circumstances.</p>

      <p class="generic">All comments will be moderated and published at the sole discretion of the CWetlands administration team. While all contributions will be
      reviewed and considered, only substantive and constructive comments will be published on the website.</p>

      <b><p class="generic">Rules when using the Cwetlands website</p></b>

      <p class="generic">By using the UNU website, you understand that all information and content made available at, or submitted to, the CWetlands website is the
      sole responsibility of the person from whom such content originated. You also acknowledge that the United Nations University does not make
      any representations or warranties about, including without limitation, the accuracy, integrity or quality of the content and information made
      available at the instigation of users of this website.</p>

      <p class="generic">Under no circumstances is the United Nations University liable in any way for any content, including, but not limited to: any infringing content,
      any errors or omissions in content, or for any loss or damage of any kind incurred as a result of the use of any content post ed, emailed,
      transmitted or otherwise made available via the UNU website.</p>

      <p class="generic">You agree that you must evaluate, and bear all risks associated with the use of any content, including any reliance on the ac curacy,
      completeness, or reliability of such content. In this regard, you acknowledge that you may not rely on any content not create d by the United
      Nations University or submitted to United Nations University, including without limitation, information in any part of the UN U website.
      You further agree that, while United Nations University makes every effort to ensure that the content made available at the U NU website is
      legal and non-infringing, and that the use of it in accordance with these rules and other applicable policies, UNU cannot guaran tee that all
      content made available at this site does not infringe the rights of any third party.</p>

      <p class="generic">The United Nations University reserves the right to change these Terms of Use at any time. Notice of a change will be announc ed on this page.
      Any revisions will include the date that they become effective.</p>




</div>

{% endblock %}
