



.navbar-brand {
    height: 70px;
    margin-right: 0px;
    margin-top:0px;
    width: 250px;
}

.navbar-inverse {
    background-color: #204045;
border-color: #204045;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #204045;
    color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #999;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #0003;
}

.jumbotron {
    background: #028baf;
    color: #fff;
    padding: 80px 0 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0);
    margin-top: 0px;
}

.dropdown-menu {
    background-color: #204045;
}

.dropdown-menu > li > a {
    color: #fff;

}

.jumbotron {
    background: #208391;
    }

body {

    background: #204045;
    font-size: 15px;
    color: #000;
}

footer {

    padding: 50px;
}

body.layers li#nav_layers a {
    color: #fff;
}

.jumbotron h1, .jumbotron .h1 {
    text-align: center;
}

h2, .h2 {
    text-align: justify;
    color: #204045;
    font-size: 20px;
}

h5, .h5 {
    text-align: justify;
    font-size: 18px;
}

.jumbotron p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

h3, .h3 {
    text-align: center;
    color: #204045;
}

h4, .h4 {

    color: #49b3c5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

h4:hover, h4:focus {

    color: #204045;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

.jumbotron a {
    color: #204045;
}

a {
    color: #49b3c5;
    font-size: 15px;
}


img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.navbar-form {
    margin-bottom: 0px;
}

.lead {
    font-size: 25px;
    text-align: center;
    color: #204045;
    margin: 40px 20px 20px 20px;
}

.generic {
    font-size: 15px;
    text-align: justify;
    color: #204045;
}

.genericli {
    font-size: 15px;
    text-align: adjust;
    color: #204045;
}

.btn-info {
    color: #fff;
    background-color: #208391;
    border-color: #208391;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #204045;
    border-color: #204045;
}

#bindex {
    font-size: 13px;
}

a:hover, a:focus {
    color: #49b3c5;
}

.col-md-8 {
    width: 66.66666667%;
    float: left;
}

.col-md-4 {
    width: 33.33333333%;
    float: left;
}

.col-md-6 {
    width: 50%;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.col-md-2 {
    width: 22%;
}

select {
    height: 25px;
}

/*#paneltbar {
    margin-top: 71px;
}

#wrap {
    padding-top: 40px;
}*/

.form-control {
    height: 25px;
}

#wrap {
    padding-top: 30px;
}


.btn-xs, .btn-group-xs > .btn {
        font-size: 14px;
}

.list-unstyled {
    color: #fff;
}

#unufooter {
    float: left;
    width: 100%;
}

#rowfotter1{
    float: right;
    width: 70%;
  }

#rowfotter2{
    float: right;
    width: 100%;
  }

.col-md-6 {
    float: left;
}
