.navbar-brand {
    height: 70px;
    margin-right: 0px;
    margin-top:0px;
    width: 250px;
}

.navbar-inverse {
    background-color: #204045;
}

.navbar-inverse {
    border-color: #204045;
}

.jumbotron {
    background: #028baf;
    color: #fff;
    padding: 40px 0 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0);
    margin-top: -10px;
}

.jumbotron {
    background: #208391;
    }

body {

    background: #204045;
}

footer {

    padding: 50px;
}

body.layers li#nav_layers a {
    color: #999;
}

.jumbotron h1, .jumbotron .h1 {
    text-align: center;
}

h2, .h2 {
    text-align: center;
}

.jumbotron p {
    text-align: justify;
    margin-bottom: 20px;
}

h3, .h3 {
    text-align: center;
}

.jumbotron a {
    color: #204045;
}
